
.card {
    width: 100%;
    height: auto;
    margin-top: 8vh;
    border: transparent;

    .cardContainer {
        width: 90%;
        height: 50vh;
        margin: auto;
        display: flex;
        border: transparent;

        .cardBoxContainerLeft, .cardBoxContainerRight {
            width: 50%;
            height: 80%;
            margin-top: 5vh;
            border-right: 1px solid rgb(54, 52, 52);
            display: flex;

            .vehicleImg {
                width: 70%;
                height: 80%;
                margin-top: 3vh;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .CardVehicletext {
                width: 40%;
                height: 100%;
                margin-right: 2vh;
                text-align: right;

                h2 {
                    border-radius: 5px;
                    margin-top: 5vh;
                }
                h3 {
                    font-size: 22px;
                    font-weight: 300;
                }
                h4 {
                    font-size: 16px;
                    margin-top: 25px;
                    font-weight: 300;
                }
                .btn {
                    width: 150px;
                    height: 35px;
                    border: none;
                    margin-top: 25px;
                    background-color: rgb(58, 57, 57);

                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }

            }
        }
        .cardBoxContainerRight {
            border: none;

            .vehicleImg {
                margin-top: 1vh;
            }
            .CardVehicletext {
            text-align: left;

                h2, h3, h4, button {
                    margin-left: 2vh;
                }

            }
        }
    }
}

@media (max-width: 1024px) {
    
.card {
    height: auto;
    margin-bottom: 5vh;
    margin-top: 10vh;
    border: transparent;
   
    .cardContainer {
        width: 100%;
        height: auto;
        display: inline-block;
        border: none;
        border: transparent;
        
        .cardBoxContainerLeft {
            width: 90%;
            border: none;
            margin: auto;

            img {
                margin-top: 0;
            }

        }
        .cardBoxContainerRight {
            width: 90%;
            margin: auto;
            margin-top: 5vh;
            border: none;

            .vehicleImg {
                margin-top: 0;
                img {
                    margin-top: 0;
                }
            }

        }
    }

}
}


@media (max-width: 550px) {
    
    .card {
       
        .cardContainer {
            width: 100%;
            display: inline-block;
            
            .cardBoxContainerLeft {
                width: 100%;
                border: none;
                margin: 0;
                display: inline-block;
               
                .vehicleImg {
                    width: 100%;
                 
                }
                .CardVehicletext {
                    width: 80%;
                    margin: auto;
    
    
                }
            }
            .cardBoxContainerRight {
                width: 90%;
                margin: auto;
                margin-top: 10vh;
                display: inline-block;
    
                .vehicleImg {
                   width: 100%;
                }
                .CardVehicletext {
                    width: 80%;
                    margin: auto;
                }
            }
        }
    
    }
}