@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,600;0,700;1,200;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,800&display=swap');


.cookie_button {
    width: 100%;
    height: 35vh;
    position: fixed;
    background-color: rgb(63, 60, 60);
    margin-top: -20vh;
    z-index: 100;
    transition: .5s;
    transition: opacity 2s ease-in-out;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    animation: moveInBottom 1s ease-out;

}

.cookie_button .container_cookie {

    width: 80%;
    height: 80%;
    margin: auto;
}

.cookie_button .container_cookie h2 {
    margin-top: 2vh;
   color: whitesmoke;
}
.cookie_button .container_cookie h3 {
    font-size: 18px;
    margin-top: 2vh;
    font-weight: 200;
    color: whitesmoke;
}
.cookie_button .container_cookie .accept {
    margin-top: 4vh;
    width: 250px;
    border: transparent;
    font-weight: 500;
    border-radius: 2px;
    padding: .3%;
}
.cookie_button .container_cookie .decline {
    margin-left: 2vh;
    width: 250px;
    padding: .3%;
    border-radius: 2px;
    border: transparent;
    color: white;
    font-weight: 500;
    background-color: rgb(248, 22, 22);
}


@keyframes moveInBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
    .cookie_button {
        height: 30vh;
        margin-top: -0vh;
    }
    .cookie_button .container_cookie h2 {
       margin-top: 0;
    }

    .cookie_button .container_cookie .accept, .cookie_button .container_cookie .decline {
        margin-top: 2vh;
    } 
}
@media (max-width:1024px) and (max-height: 600px) {
    .cookie_button {
        height: 40vh;
        margin-top: -30vh;
    }
}

@media (max-width: 768px) {
    .cookie_button {
        height: 40vh;
        margin-top: 0vh;
    }
    .cookie_button .container_cookie h2 {
       margin-top: 0;
    }

    .cookie_button .container_cookie .accept, .cookie_button .container_cookie .decline {
        width: 200px;
        margin-top: 3vh;
    } 
}

@media (max-width: 550px) {
    .cookie_button {
        height: 50vh;
        margin-top: -10vh;
    }
    .cookie_button .container_cookie h2 {
       margin-top: 0;
    }

    .cookie_button .container_cookie h3 {
        margin-top: 0;
        font-size: 15px;
     }

    .cookie_button .container_cookie .accept, .cookie_button .container_cookie .decline {
        width: 250px;
        margin-top: 2vh;
        margin-left: 0;
    } 
}


@media (max-width: 450px) {
    .cookie_button {
      margin-top: -15vh;
      height: 55vh;
    }

    .cookie_button .container_cookie h3 {
        font-size: 13px;
     }

}

@media (max-width: 380px) {
    .cookie_button {
      margin-top: -25vh;
      height: 65vh;
    }
    .cookie_button .container_cookie  {
        margin-top: 2vh;
     }
}