@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,600;0,700;1,200;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,800&display=swap');

.carouselContainer {
    height: 80vh;
    width: 100%;
    top: 0;

    .carouselBootstrap {
        height: 80vh;
        width: 100%;
        .carouselItem {
            height: 80vh;
            width: 100%;
            color: var(--secondary-color);
    
            img {
                height: 100%;
                width: 100%;
                z-index: 1;
            }
    
            .carouselItemContent {
                height: 50%;
                margin: 20vh 25vh;
                position: absolute;
                top: 0;
                width: 45%;
                z-index: 0;
    
                h2 {
                    color: var(--primary-color);
                    font-size: 90px;
                    width: 50%;
                    font-weight: 600;
                    font-family: var(--font-primary);
                    font-family: 'Josefin Sans', sans-serif;
                    margin-left: 0vh;
                    font-style: italic;
                }
        
                h3 {
                    font-family: 'Montserrat', sans-serif;
                    color: rgb(194, 192, 192);
                    font-size: 25px;
                    margin-left: 1vh;
                    font-weight: 400;
                    line-height: 35px;
                    width: 60%;
                }

                @media (max-width: 550px) {
                    h3 {
                        line-height: normal;
                    }
                }
                button {
                    background-color: var(--background-color);
                    border: none;
                    border-radius: 2px;
                    color: var(--color-font-button-white);
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: bolder;
                    height: 50px;
                    margin-top: 5vh;
                    width: 250px;
                    -webkit-backdrop-filter: blur( 5.5px );
                    backdrop-filter: blur( 6.5px );
                    
                    a {
                        color: var(--light-color);
                        font-weight: bolder;
                        text-decoration: none;
                        font-family: var(--font-primary);
                    }
                }

                @media (max-width: 300px) {
                    button {
                        width: 150px;
                    }
                }
                button:hover {
                    background-color: var(--background-hover-dark-button);
                    color: var(--light-color);
                    transition: .4s ease;
                }
            }
        }
    }
}    

@media (max-width: 1024px) {
    .headerContainer {
        height: 70vh;
        .carouselContainer {
            height: 70vh;
            .carouselBootstrap {
                .carouselItem {
                    height: 70vh;
                    .carouselItemContent{
                        margin: 20vh 15vh;
                        width: calc(100% - 15vh);
                        h2 {
                            width: 50%;
                            font-size: 70px;
                        }
                    }   
                }   
            }
        }    
    }
}
@media (max-width: 1024px) and (max-height: 600px) {
    .headerContainer {
        height: 90vh;
        .carouselContainer {
            height: 90vh;
            .carouselBootstrap {
                .carouselItem {
                    height: 90vh;
                    .carouselItemContent{
                        margin: 30vh 20vh;
                        width: calc(100% - 20vh);
                        h2 {
                            font-size: 55px;
                        }
                    }   
                }   
            }
        }    
    }
}

@media (max-width: 768px) {
    .headerContainer {

        height: 60vh;
        .carouselContainer {
            height: 60vh;
            .carouselBootstrap {
 
                .carouselItem {
                    height: 60vh;
                    .carouselItemContent{
                        margin: 20vh 10vh;
                        width: calc(100% - 10vh);
                        h2 {
                            font-size: 40px;

                        }
                        h3 {
                            font-size: 18px;
                        }
                    }   
                }   
            }
        }    
    }
}

@media (max-width: 350px) {
    .headerContainer {

        .carouselContainer {
    
            .carouselBootstrap {
                .carouselItem {
               
                    .carouselItemContent{

                        button {
                            width: 150px;
                            height: 30px;
                            margin-top: 0;
                        }
                    }   
                }   
            }
        }    
    }
}
