@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,800&display=swap');

:root {
    --primary-color: rgba(212, 212, 212, 0.979);
    --secondary-color: rgba(39, 36, 36, 0.699);
    --light-color: whitesmoke;
    --dark-color: rgb(206, 197, 197);
    --background-color: rgba(0, 0, 0, 0.363);
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary:  'Raleway', sans-serif;

    /* buttons */
    --color-font-button-white: rgb(219, 210, 210);
    --background-hover-dark-button: rgba(0, 0, 0, 0.658);

}