@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


.product {
    width: 100%;
    height: auto;

    .container-single {
        
        height: 70vh;
        margin: 0;
        display: flex;

        .imagem_produto {
            width: 50%;
            height: 100%;
            background-image: url(./mt-5.jpg);
            background-position: center;
            background-size: cover;

        }
        .dados {
            width: 50%;
            height: 100%;

            h1 {
                font-size: 120px;
                margin-top: 150px;
                margin-left: 10vh;
                width: 80%;
                font-family: 'Allerta Stencil', sans-serif;
            }
            h2 {
                margin-top: 30px;
                font-weight: normal;
                margin-left: 10vh;
                font-size: 25px;
                
                span {
                    color: white;
                    font-weight: bolder;
                    font-size: 55px;
                    font-style: italic;
                    font-family: 'Allerta Stencil', sans-serif;
                    border: 1px solid black;
                    border-radius: 10px;
                    background-color: rgb(8, 8, 8);
                    padding: 1%; padding-right: 5%;
                }
            }
            h3 {
                font-weight: 200;
                margin-left: 10vh;
                width: 70%;
            }

            .btn {

                button {
                    width: 300px;
                    height: 50px;
                    margin-top: 5vh;
                    margin-left: 10vh;
                    background-color: transparent;
                    border-radius: 10px;
                }
                button:hover {
                    background-color: rgb(31, 28, 28);
                    color: whitesmoke;
                    font-weight: bolder;
                    transition: .4s ease-in-out;
                }

            }

            .info {
                margin-top: 3vh;
                width: 100%;
                height: 5vh;
                display: flex;
                justify-content: left;

                h3 {
                    width: auto;
                    margin-right: 2vh;
                    font-weight: 300;
                    
                    span {
                        font-weight: bold;
                        color: rgb(30, 31, 32);
                    }
                }
            }
            .buttons {
                button {
                    margin-top: 3vh;
                    width: 250px;
                    height: 50px;
                    background-color: rgb(231, 20, 20);
                    border-radius: 5px;
                    border: 2px solid red;
                    cursor: pointer;
                    font-weight: bolder;
                    color: whitesmoke;
                    box-shadow: rgba(149, 157, 165, 0.438) 0px 8px 24px;
            
                }
                .btn {
                    width: 250px;
                    background-color: rgb(243, 239, 247);
                    border: none;
                    margin-left: 50px;
                    color: black;
                }
            }
            
        }
    }

    .fotos {
        width: 100%;
        height: 30vh;
        display: flex;

        .box {
            width: 25%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .ficha {
        width: 100%;
        height: 80vh;
        margin-top: 10vh;

        h2 {
            width: 90%;
            margin: auto;
            margin-left: 17vh;
        }

        .containerFichaTecnica {
            width: 90%;
            height: 50vh;
            margin: auto;
            margin-top: 5vh;
            display: flex;
            flex-wrap: wrap;

            ul {   
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;

                .ul-dark {
                    width: 100%;
                    height: 70px;
                    margin: auto;
                    display: flex;
                    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
                    margin-top: 0;
                    

                    .li-nome-coluna {
                        width: 20%;
                        border-right: 1px solid rgba(68, 65, 65, 0.26);

                        h2 {
                            text-align: left;
                            width: 100%;
                            margin-left: 0; margin-top: 2vh;
                            font-size: 22px;
                        }
                    }

                    li {
                        width: 80%;
                        height: 100%;

                        margin: auto;
                    }

                }
            }


        }
    }
}