.container_sobre {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 10vh;
    margin-bottom: 10vh;

}
.container_sobre .text {
        margin-top: 50px;
}

.container_sobre .text h2 {
            width: 100%;
            text-align: center;
            font-size: 30px;
            color: rgb(43, 42, 42);
}

.container_sobre .text p {
            margin-top: 5vh;
            font-size: 22px;
            font-weight: 200;
}
