@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400;500;600&display=swap');

.Navbar {
    width: 100%;
    height: 9vh;
    background: #cacacae8;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    position: fixed;
    z-index: 99;

    img {
        width: 30px;
        margin-top: 0px;
        margin-left: 20vh;
    }

    ul  {
        width: 100%;
        margin: auto;
        justify-content: space-between;
        display: flex;
        text-align: center;

        .menu {

            h3 {
                position: absolute;
                margin-top: 3.5vh;
                margin-left: 11vh;
            }
        }
        
        li {
            width: 33%;
            list-style: none;
            text-align: center;
            display: flex;

            .navsearchContainer {
                display: flex;

                .icon_ {
                    margin-top: 3vh;
                    margin-left: 5vh;
                }
                .pesquisa {
                    width: 200px;
                    height: 40px;
                    margin-left: 15vh;
                    margin-top: 2.2vh;
                    border-radius: 5px;
                    background-color: transparent;
                    border: 1px solid rgba(83, 80, 80, 0.185);
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;                
                    
                    .icon_ {
                        margin-top: .5vh;
                        margin-left: -150px;
                        cursor: pointer;

                        h4 {
                            font-size: 18px;
                            margin-top: -25px;
                            font-weight: 300;
                            top: 0;
                            margin-left: 130px;
                        }
                    }
                }
            }
        

            .logo {
                margin-top: 1vh;
            }

            a {
                margin-top: 1.5vh;
                margin-left: 2vh;
                text-decoration: none;
            }

            img {
                margin-top: -1.5vh;
            }

            h2 {
                font-size: 30px;
                color: black;
                margin-left: 17vh;
                margin-top: 1vh;
                font-family: 'Cinzel', serif;
            }
            h3 {
                font-size: 20px;
                color: black;
                margin-top: 1.8vh;
            }
        }

        .pesquisa {
            width: 250px;
        }
        
    }
}

.Navbar .MobileNavigation {
    width: 35%;
}
.Navbar .MobileNavigation .Hamburguer {
    margin-top: 25px;
    cursor: pointer;
}
.Navbar .mob {
    height: 90vh;
    width: 45vh;
    position: absolute;
    display: inline-block;
    margin-left: -25vh;
    text-align: left;
    margin-top: 9vh;
    background-color: rgba(32, 31, 31, 0.973);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}
.Navbar .mob li{
    width: 100%;
    height: 15vh;
    margin-left: 5vh;
    display: flex;
    border-bottom: 1px solid rgb(96, 99, 102);

    img {
        width: 50px;
        margin-left: 25px;
    }

    .icon {
        width: 50px;
        margin-top: 25px;
        margin-left: 50px;
    }

    a {
        color: rgb(170, 166, 166);
        text-decoration: none;
        margin-top: 6.5vh;
        margin-left: 4vh;
        font-size: 20px;
    }

    a:hover {
        color: rgb(126, 122, 122);
    }
}

@media (max-width: 1440px) {
    
.Navbar {

    img {
        visibility: hidden;
        width: 0px;
    }


    ul  {
        width: 90%;
        li {
            width: auto;
        }
        
    }
 }
 .Navbar .mob {
    width: 50vh;
    margin-left: -12vh;
}
.Navbar .mob li{
    margin-left: 0vh;

    a {
        color: gray;
        text-decoration: none;
        margin-top: 6.5vh;
        margin-left: 4vh;
        font-size: 20px;
    }
}
}

@media (max-width: 768px) {
    
    .Navbar {
    
        img {
            visibility: hidden;
            width: 0px;
        }
    
    
        ul  {
            width: 80%;
            li {
                width: auto;

                h2 {
                    margin-left: 0vh;
                    font-size: 0px;
                }
                a, h3 {
                    margin-left: 0vh;
                }
            }
            
        }
    }
}
@media (max-width: 550px) {
    
    .Navbar {
    
        img {
            visibility: hidden;
            width: 0px;
        }
    
    
        ul  {

            width: auto;

            li {
                width: auto;
                h2 {
                    margin-left: 0vh;
                    font-size: 0px;
                }
            }
            
        }
    }
}