@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');


.title_motocicletas {
    width: 100%;
    height: 5vh;
    background-color: rgba(20, 20, 20, 0.952);
    position: absolute;
    display: flex;
    align-items: center;
    
    h2 {
        font-family: 'Cinzel', serif;
        width: 100%;
        color: white;
        text-align: center;
        letter-spacing: 2px;
        font-size: 20px;
    }
}