
.footer {
    width: 100%;
    height: 40vh;

    .social-box {
        width: 100%;
        height: 5vh;
        border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    }

    .containerFooter {
        width: 80%;
        height: 70%;
        margin:auto;
        margin-top: 2vh;
        display: flex;
        
        .boxFooter {
            width: 33.3%;
            margin: auto;
            height: 100%;

            h2 {
                font-size: 20px;
                margin-left: 3vh;
                letter-spacing: 1px;
                font-weight: 500;
                color: rgb(48, 46, 46);
            }

            ul {
                margin-top: 2vh;
   
                li {
                    list-style: none;
                    padding: 3px;
                    font-weight: 100;
                }

                .redes {
                    display: flex;
                    margin-top: 1vh;
                    img {
                        width: 25px;
                        margin-right: 2vh;
                        opacity: .7;
                    }
                }
            }
        }
    }

}

@media (max-width: 768px) {

    .footer {
        .containerFooter {
            width: 100%;
            display: inline-block;

            .boxFooter {
                width: 90%;
                height: auto;
                margin: auto;
                margin-top: 5vh;
            }
        }
    }
}