.folder {
    width: 100%;
    height: 60vh;
    background-image: url(./folder.webp);
    background-size: cover;
    background-position: center;

    .container-folder {
        width: 50%;
        height: 50%;
        margin-left: 50%;
        margin-top: 15vh;
        position: absolute;

        h1 {
            font-size: 50px;
            color: rgb(189, 161, 36);
            font-weight: 600;
        }

        h2 {
            width: 75%;
            font-size: 40px;
            color: whitesmoke;
            line-height: 50px;
            font-weight: 300;
        }

        h3 {
            color: whitesmoke;
            font-weight: 300;
            width: 60%;
            font-size: 15px;

        }

        @media (max-width: 550px) {
            h3 {
                width: 100%;
            }
        }

        @media (max-width: 300px) {
            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 20px;
            }
            h3 {
                font-size: 10px;
            }
        }
    

        button {
            width: 300px;
            height: 40px;
            font-size: 18px;
            color: white;
            background-color: rgb(235, 11, 11);
            cursor: pointer;
            border: none;
            margin-top: 3vh;
        }
        
    }

    @media (max-width: 1280px) {
        .container-folder {
            margin-top: 7vh;
        }
        
    }
}

@media (max-width: 1024px) {
    .folder {

        .container-folder {
            margin-top: 10vh;
            h2 {
              font-size: 30px;
              line-height: normal;
            }
    
        }
    }
}
@media (max-width: 768px) {
    .folder {

        .container-folder {
            width: 70%;
            margin: auto;
            margin-top: 10vh;
            margin-left: 10vh;
            h2 {
                width: 100%;
              font-size: 30px;
              line-height: normal;
            }
    
            button {
                width: 220px;
            }
        }
    }
}
@media (max-width: 400px) {
    .folder {

        .container-folder {
            width: 80%;
            margin: auto;
            margin-top: 5vh;
            margin-left: 5vh;
    
            button {
                width: 220px;
            }
        }
    }
}