
.title_financeiro {
    width: 100%;
    height: 5vh;
    margin-top: 0;
    background-color: rgba(20, 20, 20, 0.952);
    position: absolute;
    
    display: flex;
    align-items: center;
}

.title_financeiro h2 {
    font-family: 'Cinzel', serif;
    width: 100%;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
}