
.contato-single {
    width: 100%;
    height: 40vh;
    position: absolute;
}

.contato-single h3 {
    font-weight: 300;
    text-align: center;
    font-size: 20px;
}
.contato-single h4 {
    text-align: center;
    margin-bottom: 10vh;
    font-size: 18px;
}

.contato-single .container-contato {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 10vh; margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.contato-single .container-contato .box {
    width: 25%;
    height: 30vh;
    margin: auto;
    margin-right: 5vh;
    margin-top: 5vh;
    border-radius: 5px;
    display: inline-block;
}

.box h2 {
    text-align: center;
}
.box h3 {
    width: 95%;
    margin: auto;
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    margin-top: 3vh;
}

.box img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 2vh auto;
}


.btn-contato {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    display: block;
    margin: 2vh auto;
    border: transparent;
}
.btn-contato:hover {
    background-color: rgb(177, 169, 169);
    transition: .4s ease-in-out;
    font-weight: bolder;
}

@media (max-width: 1024px) {
    
    .contato-single .container-contato {
        width: 100%;
        height: auto;
    }

    .contato-single .container-contato .box {
        width: 27%;
        height: auto;

    }

    .box h3 {
        min-height: 17vh;

    }
}

@media (max-width: 768px) {
    
    .contato-single .container-contato {
        width: 95%;
        margin: auto;
        margin-top: 10vh;
    }

    .contato-single .container-contato .box {
        width: 27%;
        height: auto;
    }

    .box h3 {
        width: 100%;
        font-size: 15px;
        text-align: center;
        min-height: 25vh;
    }

    .btn-contato {
        width: 170px;
    }
}